/*#############################
CSS RESET
#############################*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
}

/*############################
BASIC LAYOUT
############################*/

#infobar{ 
          width: 100%;
          height: 40px;
          position: static;
          background-color: #333;
          color: #eaeaea;
}


#statePanel{ 
                 position: absolute;
                 left: 0;
                 width: 50%;
                 text-align: left;
}

#statePanel div{
	display: inline;
	padding-bottom: 5px;
	padding-right: 3px;
	margin-left: 5px;	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-right: 1px solid #555;
	background: -moz-linear-gradient(right center, #555, #333 80%) repeat scroll 0 0 #555;
}

#current_user{ 
            position: absolute;
            right: 0px;
            width: 40%;
            text-align: justify;           

}

#current_user div{
	width: auto;
	display: inline;
	padding-bottom: 5px;
	padding-left: 3px;
	margin-right: 5px;	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-left: 1px solid #555;
	background: -moz-linear-gradient(left center, #555, #333 80%) repeat scroll 0 0 #555;
}

#wrapper { 
		width: 100%;
		display: table;
		background-color: #f8f8f8;
}


#main_menu{
            width: 150px;
            min-width: 150px;
            padding-bottom: 20px;
            display: table-cell; 
    	    -webkit-transition: background-color 0.2s linear;
	        background: -moz-linear-gradient(left center, #d1d1d1, #eaeaea 80%) repeat scroll 0 0 #eaeaea;
	        background: -webkit-gradient(linear,left bottom,right top,color-stop(.2, #eaeaea),color-stop(.8, #d1d1d1));
	        background-color: #eaeaea;
    
 }

#content_wrapper { 
                   display: table-cell;
                   width: 100%;
                   padding-left: 5px;
}


#process {
	height: 30px;
	padding: 5px 0px 0 10px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}


#content { 
           background: #f2f2f2;
           height: 100%;
           overflow-y: auto;
           padding: 0 0 50px 10px;
           margin: 0 auto;
           	-webkit-border-top-left-radius: 6px;
           moz-border-top-left-radius: 6px;
           border-top-left-radius: 6px;
           border: solid 1px #adadad;
           border-top: solid 0px #adadad;
}
