<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"  
      xml:lang="en"  
      lang="en"> 
<head>
<wicket:link>
		<link rel="stylesheet" type="text/css" href="template.css"></link>
</wicket:link>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15"></meta>
<title>Ict4mpower Template</title>
</head>

<body>
<header id="infobar">
	<div id="statePanel">
  		<span wicket:id="statePanel"></span>
	</div>
	<div id="current_user">
  		<span wicket:id="userPanel"></span>
 	</div>
</header>

<div id="wrapper">
  <aside id="main_menu">
	<nav wicket:id="menu">
	</nav>
  </aside>
  
  <div id="content_wrapper">
	<nav wicket:id="process">
		PROCESS HERE
	</nav>
	<div id="content">
	  <span wicket:id="task">NO CONTENT FOR TASK SET!</span>
	</div>
  </div>
</div>
<footer class="footer">  

</footer>  

</body> </html>
