#chart {
	width: 100%;
	height: 600px;
}

#label_head, #label_length, #label_weight {
	position: absolute;
	font-family: Arial, sans-serif;
	font-size: 11pt;
	color: #555;
}

#label_head {
	left: 40%;
	top: 175px;
}

#label_length {
	left: 40%;
	top: 365px;
}

#label_weight {
	left: 40%;
	top: 500px;
}

span.weeks, span.months, span.years {
	font-family: Arial, sans-serif;
	font-size: 14pt;
	margin: 0 30px;
}

span.weeks {
	color: green;
	margin-left: 10%;
}

span.months {
	color: red;
}

span.years {
	color: blue;
}